services:
  # pg数据库
  postgres:
    image: postgres:18
    container_name: zera_db
    environment:
      POSTGRES_USER: ${DB_USER:-zera}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-012359Clown@}
      POSTGRES_DB: ${DB_NAME:-zera}
      PGDATA: /var/lib/postgresql/data/18/main
    ports:
      - "5432:5432"
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data
    networks:
      - zera_network

  # rustfs对象存储
  rustfs:
    image: rustfs/rustfs:latest
    container_name: zera_rustfs
    environment:
      RUSTFS_ACCESS_KEY: ${RUSTFS_ACCESS_KEY:-zera}
      RUSTFS_SECRET_KEY: ${RUSTFS_SECRET_KEY:-zera}
      RUSTFS_CONSOLE_ENABLE: true
      # RUSTFS_SERVER_DOMAINS: ${RUSTFS_SERVER_DOMAINS:-example.com}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./data/rustfs:/data
    # --server-domains ${RUSTFS_SERVER_DOMAINS:-example.com}
    command: >
      --address :9000
      --console-enable
      --access-key ${RUSTFS_ACCESS_KEY:-zera}
      --secret-key ${RUSTFS_SECRET_KEY:-zera}
    networks:
      - zera_network

# 网络
networks:
  zera_network:
    driver: bridge